# When cloning the repository, copy this file as .env
# For getting started, you don't need to change any values

DB_URL = file:database/local.db
DB_AUTH_TOKEN =
DB_VISITS_AUTH_TOKEN =
DB_VISITS_URL = file:database_visits/visits.db
GITHUB_PRIVATE_KEY =
REDIS_URL = redis://127.0.0.1:6379
ADMIN_PAGE_PASSWORD = test                      
EMAIL_ADDRESS =
EMAIL_PASSWORD =
ENABLE_EMAILS = false
APPROVAL_EMAIL = 